body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color:  #00031f;
    padding: 20px;
    text-align: center;
    -webkit-text-fill-color: aliceblue;
  }
  
  h1 {
    font-size: 30px;
    margin: 0;
  }
  
  .content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin: 0 0 20px;
  }
  
  p {
    margin: 10px 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li:before {
    content: "\2022";
    color: #4CAF50;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  li span {
    font-weight: bold;
    margin-right: 5px;
  }
  